/* General styling */

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px; 
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

p{
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

/* Global styles for flex elements */
.container {
    display: flex;
    padding: 20px 100px 20px 100px;
}

/* Navigation bar */
.nav {
    background-color: #1F2937;
}

.navlist {
    align-items: center;
    display: flex;
    flex:1;
    gap: 15px;
}

.logo{
    margin-right: auto;
}

/* Section below navigation bar */
.main-text {
    color: #f9faf8;
    font-size: 24px;
}

.section-one {
    background-color: #1F2937;
    justify-content: center;
    gap: 30px;
}
.s1content {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    flex: 1.5;
    gap: 10px;
}

.image{
    display: flex;
    flex: 1;
}

button {
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
}

.s1button {
    align-self: flex-start;
}
/* random information section*/

.section-two {
    background-color: green;
    flex-direction: column;
    align-items: center;
}

.images{
    display: flex;
}

.s2content{
    border: solid;
    border: 5px;
    border: #3882F6;
    padding: 5 px
}
.box {
    background: palevioletred;
    font-weight: bold;
    text-align: center;
    border: 6px solid maroon;
    width: 80px;
    height: 80px;
  }