/* General styling */

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px; 
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

p{
    font-size: 18px;
    color: #e5e7eb;
}

/* Global styles for flex elements */
.container {
    display: flex;
    padding: 10px 50px 10px 50px;
}

/* Navigation bar */
.nav {
    background-color: #1F2937;
}

.navlist {
    align-items: center;
    justify-content: space-between;   
    display: flex;
    gap: 15px;
}

.logo {
    display: flex;
}

.moveright {
    margin-right: auto;
}

/* Section below navigation bar */
.main-text {
    color: #f9faf8;
    font-size: 24px;
}

.section-one {
    background-color: #1F2937;
}
.description {
    justify-content: flex-start;
    flex-direction: column;
}

.s1content{
    justify-content: space-between;
    align-items: center;  
    flex-direction: row; 
}

/* random information */

