body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    
}

.nav {
    display: flex;
    background-color: #1F2937;
}

.navlist {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.right-side-elements {
    display: flex;
    gap: 15px;
}

.main-text {
    color: #f9faf8;
    font-size: 24px;
}